@model IEnumerable<HotelReservationsManager.Data.Entities.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Users</h1>

<div class="input-group mb-3">
    <form class="d-flex" asp-action="Index" method="get">
        <input class="rounded mr-2" type="text" name="FirstName" placeholder="FirstName" aria-label="Search">
        <input class="rounded mr-2" type="text" name="LastName" placeholder="LastName" aria-label="Search">
        <input class="rounded mr-2" type="text" name="TIN" placeholder="TIN" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TIN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HiringDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAdmin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MiddleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TIN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HiringDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAdmin)
                </td>

                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a type="button" class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                        <a type="button" class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.Id">Details</a>

                        @if (item.Reservations.Count == 0)
                        {
                            <a type="button" class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }

                    </td>
                }


            </tr>
        }
    </tbody>
</table>

